p {
	margin-top: 5px;
	margin-bottom: 5px;
}

.container-main{
	margin: auto;
	width: 800px;
}

.resultados{
	margin-top: 10px;
}

.styleInput{
	width: 300px;
}

.styleButton{
	width: 100px;
}

.container-menu-resultados{
	margin: auto;
	width: 500px;
    text-align: center;
}
.container-main-calculadora{
	width: 560px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 70px;
	display: block;


}

.input-calculadora{
	width: 400px;
	float: left;
	margin-right: 5px;
}

.selector-calculadora{
	width: 150px;
}

.btn-calcular-calculadora{
	margin-top: 10px;
}

.resultado-calculadora{
	
}